<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Calculator</title>
</head>
<body>

<form id="calculator-form" action="/calculate" method="post">


    <!--this is where the input is stored-->
    <input type="hidden" name="operation" id="operation">


{#    Title with button included    #}
    <div class='parent'>
  <h1 class='child1'>Calculator</h1>
  <button class='child2' type="button" onclick="submitForm('clear')">Clear</button>
   </div>


   <p id = "MsgBoard" ><strong>{{ msgHeader }}</strong> <br> {{ result }}</p>

        {#   Input box   #}
       <textarea name="entry" rows="4" cols="100" placeholder="Enter values here" required></textarea>

       <br><br>

        <!-- submit buttons -->
    <h2><strong>Descriptive Statistics</strong></h2>
        <br>
        <button class="center"  type="button" onclick="submitForm('Population Standard Deviation')">Calculate Population Standard Deviation | one value per line</button>
        <br>
        <button class="center" type="button" onclick="submitForm('Mean')">Compute Mean | one value per line</button>
        <br>
        <button class="center"  type="button" onclick="submitForm('Z-Score')">Compute Z Score | one value per line</button>
        <br>
    <h2><strong>Single Linear Regression</strong></h2>
        <br>
        <button class="center"  type="button" onclick="submitForm('Single Linear Regression Formula:')">Compute Single Linear Regression Formula | one x,y pair per line</button>
        <br>
        <button class="center"  type="button" onclick="submitForm('Single Linear Regression Prediction')">Predict Y From linear Regression Formula | x, m, b on one line</button>
   </form>

{#   <!-- Display input variable for testing -->#}
{#    {% if entry is defined %}#}
{#    <h2>entry: {{ entry }}</h2>#}
{#    {% endif %}#}
{##}
{##}
{#   <!-- Display result variable for testing -->#}
{#    {% if entry is defined %}#}
{#    <h2>result: {{ result }}</h2>#}
{#    {% endif %}#}


   <script>

       // Pass the server-side 'error' variable to JavaScript
       var error = {{ error|tojson }};

        function setMsgRedIfError() {
            if(error){
            const element = document.getElementById("MsgBoard");
            // Change the color of the element
            element.style.color = "#FFFFFF";
            element.style.backgroundColor = "#B70F0A";
            }
        }


        function submitForm(op) {
            // Set the value of the hidden input to the selected operation
            document.getElementById('operation').value = op;
            // Submit the form
            document.getElementById('calculator-form').submit();
        }

        setMsgRedIfError()
   </script>

</body>
</html>